@model CheeseMVC.ViewModels.AddCategoryViewModel

<h1>Add Category</h1>

<form asp-controller="Category" asp-action="Add" method="post">
    
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>


    @*Be sure to use your tag helpers to render the form:
        On the <form>
        element: asp-controller and asp-action (our form should POST to the Add action of
        the Category controller).

        Within the form: asp-for (on <input> and <label>) and asp-validation-for
        (on a <span>).
        This is the same technique we've been using over the last couple of weeks.*@
